
/*background*/
body{
    
    background: linear-gradient(45deg, #df2987, #F57F20, #e3af2d, #a8263b);
    
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover; 
    align-items: center;
    overflow: hidden;
    
    
}
/*title*/
.information .title{
    font-family: 'Lobster',cursive;
    font-size: 20px;
    padding: 10px;
    text-align: center; 
    margin: -20px;
    


}
/*the entire page but background*/
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-style: solid;
    border-color: transparent;
    border-left-width: 20px;
    border-right-width: 20px;
    
    
}
/*username and password*/
#username, #password, #login, #facebook, #forgotPass, #signup{
    width: 100%;
    
    
}
#username{
    border-style: solid;
    border-width: 3px;
    
    border-color: rgb(222, 219, 219);
    padding: 8px;
    margin: 2px 0;
}
#username::placeholder{
    color: rgb(201, 195, 195);
    font-size: 12px;
    padding: 4px;
}

#username:focus, #password:focus {
    outline: none; /* Removes the outline */
}
#password{
    padding: 8px;
    flex-grow: 1;
    width: 100%;
    max-width: 300em;
    margin-right: 15px;
    border-color: transparent;

    padding: 6px;

    
    
    
}
#password::placeholder{
    color: rgb(201, 195, 195);
    font-size: 12px;
    padding: 5px;
}



.password-container{
    display: flex;
    justify-content: flex-start;
    
    transform: translateX(-19px);
    border-style: solid;
    border-width: 3px;
    
    border-color: rgb(222, 219, 219);
    
    
}
/*checkbox for password (show and hide)*/
.custom-checkbox input[type="checkbox"]{
    display: none;
    
}
.custom-checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    border: solid transparent;
    transform: translateX(40px);
}

.custom-checkbox .checkmark {
    width: 15px;
    height: 15px;
    border: 2px solid #b4b7b8;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 0px;
    width: 8px;
    height: 10px;
    border: solid #1aa2f6;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.custom-checkbox:hover .checkmark {
    background-color: #f0f8ff;
}
/*login button --> directs to the real instagram page*/
#login{
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: #1aa2f6;
    border-style: solid;
    
    border-color: transparent;
    border-radius: 8px;
    font-size: 13px;
    width: 80%;
    max-width: 200px;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
}
#login:hover{
    background-color:#0089de ;
    cursor: pointer;
}
/*or text*/
#orText{
    font-family: 'Courier New', Courier, monospace;
    color: #a4a7a8;
}
/*button that directs to the real facebook page*/
#facebook{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    border-color: transparent;
    color: darkblue;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
#facebook:hover{
    color: rgb(117, 117, 139);
    cursor: pointer;
}
#facebook img{
    width: 35px;
    height: auto;
    transform: translateY(13px);
    
    

    
}
/*directs to youtube video on how to solve fogoten password problem*/
#forgotPass{
    transform: translateY(10px);
    background-color: transparent;
    border-color: transparent;
    color: darkblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#forgotPass:hover{
    color: #a4a4be;
    text-decoration: underline;
    cursor: pointer;

}

/*seperate box for signing up*/
.extra{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 5px;
    transform: translateY(10px);
    
    
}
/*signing up --> youtube video that explains how to sign up*/
#text{
    font-family:monospace;
    font-size: 12px;
    font-style: italic;
    word-spacing: -3px;
    margin: 5px;
    
  
    
}

h3#text{

    transform: translateX(70px);
}

#signup{
    background-color: transparent;
    border-color: transparent;
    color: rgb(0, 193, 207);
    font-size: 13px;
}
#signup:hover{
    cursor: pointer;
    text-decoration: underline;
}